<div ng-app="myApp.view2" ng-controller="View2Ctrl">

  Oferuję:

  <div>
    <md-input-container>
      <label>Title</label>
      <input ng-model="newOne.title">
    </md-input-container>
  </div>

  <div>
    <md-input-container class="md-block">
      <label>Description</label>
      <textarea ng-model="newOne.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <label>Contact</label>
      <input ng-model="newOne.contact">
    </md-input-container>
  </div>
</div>
