

.centered {
  position: fixed;
  top: 85%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
}

.h1{
  color: white;
  opacity: 1;

}

.p {
    color: white;
    opacity: 1;
    position: inherit;
    transform: translate(-50%);
}

.high-centered {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 98%;
  height: 35%;
  /* bring your own prefixes */
  transform: translate(-50%);
  opacity: 0.7;
  padding: 0;
  background-color: #3D2727;
  color: white;

}

.background {
  background:
  url("img/helpswapper.jpg") center no-repeat transparent;
  background-size: cover;
  height: 100vh;
}

.buttonIn {
  width: 100%;
  color: white;
  opacity: 0.7;
  background-color: #3D2727;
  border: 2px solid white;
  border-radius: 12px;
}

.buttonOffer {
  width: 100%;
  color: white;
  background-color: #4C0808;
  border: 2px solid white;
  border-radius: 12px;
}

.inputs {
  width: 100%;
  margin-top: 20px;
  margin-bottom:20px;
}


.right {
  text-align: right;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }

  fieldset {
    font: 8px;
  }

.navi {
  margin:0; padding: 0; margin-bottom:20px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #4C0808;
    color: white;
}

.description {
  width: 100%;
  color: white;
  background-color: #4C0808;
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
}

.title {
  width: 100%;
  color: white;
  background-color: #4C0808;
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
}
