<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- AngularJS Material CSS now available via Google CDN; version 1.1.4 used here -->
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
   <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
   <link rel="stylesheet" href="app.css">
   <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
   <!-- AngularJS Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>


    <!-- AngularJS Material Javascript using GitCDN to load directly from `bower-material/master` -->
    <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>



</head>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">

    <div  ng-if="!flags.isSelected"  class="background">
      <div class="jumbotron jumbotron-fluid high-centered">
        <div class="container">
          <h1 class="display-3 right">Help Swapper</h1>
          <p class="lead right ">We can help each other!</p>
        </div>
      </div>
      <div class="container-fluid  centered">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <button type="button" class="btn buttonIn" ng-click="clickOffer()">Ask for help</button>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <button type="button" class="btn buttonIn" ng-click="clickSearch()">Search offers</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div ng-if="flags.isSelected"  ng-view></div> -->

    <md-toolbar ng-if="flags.isOfferSelected" class="container-flud   navi">
      <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button> -->

          <h2 flex md-truncate>New Advert</h2>

        <!-- <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favourite.svg" ></md-icon>
        </md-button> -->

        <!-- <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>


    <div ng-if="flags.isOfferSelected" class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <div>
            <md-input-container class="inputs">
              <label>Put some title here</label>
              <input ng-model="newItem.title">
            </md-input-container>
          </div>

          <div>
            <md-input-container class="md-block inputs">
              <label>And description is needed</label>
              <textarea ng-model="newItem.description" md-maxlength="350" rows="9" md-select-on-focus></textarea>
            </md-input-container>
          </div>

          <div>
            <md-input-container class="inputs">
              <label>How can we contact you?</label>
              <input ng-model="newItem.contact">
            </md-input-container>
          </div>
          <div>
            <h3>Select refund:</h3>
            <select ng-model="newItem.selectedRefund" style="width:100%; height: 27px;">
              <option ng-repeat="refund in refunds" value="{{refund}}">{{refund}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-5">
          <h3>Select category:</h3>
          <md-radio-group ng-model="newItem.selectedCategory">
            <div ng-repeat="category in categories" >
              <md-radio-button value="{{category}}" class="md-primary" style="margin-bottom: 5px;">{{category}}</md-radio-button>
            </div>

          </md-radio-group>
        </div>
      </div>

      <div class="row" style="margin-top: 35px;">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <button type="button" class="btn buttonOffer" ng-click="clickSubmit()">Submit</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <button type="button" class="btn buttonOffer" ng-click="clickCancel()">Cancel</button>
        </div>
      </div>
    </div>

    <md-toolbar ng-if="flags.isSearchSelected" class="container-flud navi">
      <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button> -->

        <h2 flex md-truncate>Search for offers</h2>

        <!-- <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favourite.svg" ></md-icon>
        </md-button> -->

        <!-- <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>

    <div ng-if="flags.isSearchSelected" class="container">

      <div style="padding: 15px;" class="col-md-7">
        <h4>Category:</h4>
        <select ng-model="filtering.category" style="width:100%; height: 35px; padding: 5px;">
          <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
        </select>
      </div>

      <div style="padding: 15px;" class="col-md-7">
        <h4>Refund:</h4>
        <select ng-model="filtering.refund" style="width:100%; height: 35px; padding: 5px;">
          <option ng-repeat="refund in refunds" value="{{refund}}">{{refund}}</option>
        </select>
      </div>
      <div  style="overflow-y: auto; overflow-x: hidden; height: 50vh;" >
        <div ng-repeat="item in items | filter: {category: filtering.category, refund: filtering.refund}">
          <button type="button" class="btn title" ng-click="isSelected = !isSelected" style="width:100%; margin: 10px; min-height:35px;">{{item.title}}</button>
          <div ng-if="isSelected" style="width:100%; margin: 10px;">
            <div class="row">
              <div class="col-md-6">
                <div class="description">Desc: {{ item.description }}</div>
              </div>
              <div class="col-md-6">
                <div><strong>Contact:</strong> {{ item.contactData }}</div>
                <div><strong>Refund:</strong> {{ item.refund  }} <span ng-bind-html="refundsIcons[item.refund]"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 35px;">
        <!-- <div class="col-md-2">
        </div> -->
        <div class="col-md-3">
          <button type="button" class="btn buttonOffer" ng-click="clickCancel()">Back</button>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
        </div>
      </div>


    </div>





  </div>






    <!-- <div ng-if="flags.isSelected"  ng-view></div> -->
</div>



  <!-- <ul class="menu">
    <li><a href="#!/view1">view1</a></li>
    <li><a href="#!/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

</body>
</html>
